body, html {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	position: relative;

	font-family: $font-default;
	font-weight: 300;
	color: $text-color;

	@media (max-width: $screen-sm-max) {
		font-size: 12px;
	}
}

button {
	background: transparent;
	border: none;
	padding: 0;

	&:hover, &:active, &:focus {
		outline: none;
		cursor: pointer;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

//#dashboard, #contact {
//	transform:  translate(0);
//	transition: all .5s ease;
//
//	&:not(:target) {
//		transform: translate(100%);
//		overflow: hidden;
//	}
//}
* {
	box-sizing: border-box;
}

[contenteditable] {
	-webkit-user-select: text;
	user-select: text;

	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;

	&:hover {
		background: rgba($pink, .2);
		cursor: text;
	}
}

.hidden {
	display: none;
}