body, html {
	margin: 0;
	height: 100vh;
	//overflow: hidden;
	position: relative;

	font-family: $font-default;
	font-weight: 300;
	color: $text-color;

	@media (max-width: $screen-sm-max) {
		font-size: 12px;
	}
}

button {
	background: transparent;
	border: none;
	padding: 0;

	&:hover, &:active, &:focus {
		outline: none;
		cursor: pointer;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#dashboard, #contact, #welcome {

	&:not(:target) {
		display: none;
		overflow: hidden;
	}
}

* {
	box-sizing: border-box;
}

[contenteditable] {
	-webkit-user-select: text;
	user-select: text;

	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;

	background: rgba(0, 0, 0, .03);

	&:hover, &:focus {
		background: rgba($pink, .2);
		cursor: text;
		outline: none;
	}

}

svg {
	padding-top: 1em;
	height: 5em;
	cursor: pointer;

	text, tspan {
		transition: $transition;
	}
}

.hidden {
	display: none;
}

*:focus {
	outline-color: $pink;
}

.link-close {
	text-decoration: none;
	color: #fff;
	
	position: absolute;
	top:2em;
	right: 2em;
	
	&:hover {
		color: $pink;
	}
}

.background-copyright {
	position: absolute;
	bottom: 1em;
	z-index: 10;
	color: white;
}

.loading {
	&::after {
		content: 'Loading...';
		position: absolute;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 10;
		background: #967290;
	}
}