$transition: all .25s ease-in-out;

$text-color: #151515;
$accent-color: #ff5722;

$header-height: 4em;

$nav-width: 420px;
$nav-bg: #607D8B;

// Fonts
$font-default: 'Open Sans', sans-serif;
$font-handwritten: 'Indie Flower', cursive;
$fa-font-path: "../fonts";

// Note
$note-bg: #fffff0;
$note-w: 320px;
$note-h: 320px;

