@import "menu-btn";

header {
	width: 100%;
	height: $header-height;

	position: fixed;
	background: transparent;

	display: flex;
	align-items: center;
	justify-content: space-between;

	z-index: 10;
	padding: 0 2em;

	transition: $transition;

	&.nav-opened {
		padding-left: calc(#{$nav-width} + 2em);

		@media (max-width: $screen-sm-max) {
			padding-left: 2em;
			justify-content: flex-end;

			.link {
				display: none;
			}
		}
	}

	.clock {
		font-size: 3.4em;
		font-weight: 300;

		@media (max-width: $screen-sm-max) {
			display: none;
		}
	}

	a {
		text-decoration: none;
		color: $text-color;
		font-weight: 700;
		border-bottom: 1px solid;
		transition: $transition;

		&:hover {
			color: $accent-color;
			text-decoration: none;
			border-bottom: none;
		}
	}
}