@import "menu-btn";

header {
	width: 100%;
	height: $header-height;

	position: fixed;
	background: transparent;

	display: flex;
	align-items: center;

	z-index: 1;
	padding: 0 2em;

	transition: $transition;

	&.nav-opened {
		margin-left: $nav-width;
	}
}