main {

	background-size: cover;
	background: url('../images/bg.png') 50%;

	padding-top: $header-height;
	min-height: 100vh;

	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;

	padding-right: 8em;

	@media (max-width: $screen-sm-max) {
		padding: 6em 1em;
		display: flex;
		overflow: auto;
		flex-direction: column;
	}
}
