main {

	background: url('../images/bg.png');

	background-size: cover !important;
	background-position: 50% !important;

	padding-top: $header-height;
	min-height: 100vh;

	overflow: scroll;
	//overflow-y: hidden;
	white-space: nowrap;

	padding-right: 8em;

	@media (max-width: $screen-sm-max) {
		padding: 6em 1em;
		display: flex;
		overflow: auto;
		flex-direction: column;
	}
}
