main {

	background-size: cover;
	background: url('../images/bg.png') no-repeat 50%;

	padding-top: $header-height;
	height: calc(100vh - #{$header-height});

	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;

}