nav {

	position: absolute;
	width: $nav-width;
	height: calc(100vh - #{$header-height});
	background: $header-bg;
	top: $header-height;
	left: 0;
	padding: 0 2em;
	transform: translateX(-100%);

	transition: $transition;

	&.opened {
		transform: none;
	}

	a {
		color: $text-color;
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		padding: 15px 0;
		display: block;
	}
}