$transition: all .25s ease-in-out;

$main-bg:        papayawhip;

$text-color: #151515;

$header-bg:      rgba(white, .7);
$header-height: 4em;

$nav-width: 320px;

$new-btn-color: green;

// Fonts
$font-default: 'Open Sans', sans-serif;
$font-handwritten: 'Indie Flower', cursive;
$fa-font-path:                "../src/fonts";

// Note
$note-bg: palegoldenrod;
$note-w: 320px;
$note-h: 320px;
